/* variables */
:root {
  --bgColor:#232123;
  --inputColor1:#121113;
  --inputColor2:#310044;
  --textColor:#fbf9f8;
  --borderRadius:20px;
}
/* reset the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--bgColor);
  display: grid;
  place-content: center;
}
/* login page */
.container {
  background-color: var(--bgColor);
  color: var(--textColor);
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 10px;
}
.content {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content header {
  margin-bottom: 30px;
  padding-bottom: 40px;
  overflow: hidden;
  text-transform: capitalize;
}
.content header h1{
  position: relative;
  font-weight: 600;
}
.content header h1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
  border-left: 2px solid var(--textColor);
  animation: type 6s steps(43) infinite;
}
@keyframes type{
  40% ,60%{
    left: 100%;
  }
  100%{
    left: 0%;
  }  
}
section label {
  text-transform: capitalize;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 600;
}
section input {
  width:250px;
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--borderRadius);
  caret-color: var(--bgColor);
  border: none;
  outline: none;
  margin-bottom:25px ;
}
section button {
  min-width: 100px;
  height: 40px;
  margin-right: 10px;
  padding: 0 10px;
  border-radius: var(--borderRadius);
  border: none;
  cursor: pointer;
  background-color: var(--textColor);
  color: var(--inputColor1);
  font-size: 17px;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
}
section button:hover{
  background-color: #2a0766;
  color: var(--textColor);
  border: 1px solid var(--textColor);
}
a {
  text-decoration: none;
  color: var(--inputColor1);
}
a:hover {
  color: var(--textColor);
}
.messageOne {
  width: 300px;
  height: 80px;
  color: red;
  display: none;
}
@media screen and (max-width:768px) {
  header h1{
    font-size: 20px;
  }
}
@media screen and (max-width:440px) {
  header h1{
    font-size: 16px;
  }
}
@media screen and (max-width:375px) {
  header h1{
    font-size: 13px;
  }
}

/* PMS page */
#container {
  max-width: 1300px;
}
.pageContainer {
  width: 100%;
  padding: 10px 100px;
}
header {
  margin-bottom: 50px;
}
.head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
img {
  width: 170px;
  margin-top: 5px;
}
.head span {
  height: 29px;
  text-transform: uppercase;
  margin-top: 13px;
  margin-right: 10px;
  background-color: var(--textColor);
  color: var(--bgColor);
  font-size: 23px;
  font-weight: 600;
  padding: 2px 3px;
  border-radius: 10%;
  cursor: default;
}
.description {
  width: 100%;
  color: var(--textColor);
  text-align: center;
  margin: 20px 0;
}
.description h1 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 35px;
}
.description p {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 15px;
}
input {
  width: 100%;
  height: 35px;
  border-radius: var(--borderRadius);
  padding: 0 15px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  color: var(--bgColor);
  caret-color: var(--bgColor);
  transition: transform .4s;
}
input:focus {
  transform: scale(1.1);
  background-color: var(--inputColor1);
  color: var(--textColor);
}
/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* hide the input number bar */
}
.br {
  display: none;
}
.price {
  width: 100%;
}
.price input {
  width: 18%;
}
.price p {
  color: var(--textColor);
  display: inline;
  background-color: #d61c22 ;
  padding: 6px 5px;
  border-radius: 5px;
  transition: all .3s;
}
button {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  border: none;
  border-radius: var(--borderRadius);
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--inputColor2);
  color: var(--textColor);
  transition:ease .2s;
}
.btn {
  margin-bottom: 0;
}
button:active {
  background-color: #600060;
}
.search {
  display: flex;
  justify-content: space-between;
}
.search button {
  width: 48%;
}
/* table style */
.dataTable{
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  color: var(--textColor);
}
thead tr {
  color: #000;
  text-transform: capitalize;
}

table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 900px)  {
  thead tr {
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
}

/* media query for smaller screens */
@media screen and (max-width: 670px) {
  table {
    font-size: 14px;
  }
  
  table td {
    padding: 5px;
  }

  table thead tr{
    display: none;
  }

  table td:nth-of-type(1):before { content: attr(data-label); }
  table td:nth-of-type(2):before { content: attr(data-label); }
  table td:nth-of-type(3):before { content: attr(data-label); }
  table td:nth-of-type(4):before { content: attr(data-label); }
  table td:nth-of-type(5):before { content: attr(data-label); }
  table td:nth-of-type(6):before { content: attr(data-label); }
  table td:nth-of-type(7):before { content: attr(data-label); }
  table td:nth-of-type(8):before { content: attr(data-label); }
  table td:nth-of-type(9):before { content: attr(data-label); }
  table td:nth-of-type(10):before { content: attr(data-label); }
  
  table tr {
    display: block;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
  }
  
  table td {
    display: block;
    height: 20px;
    text-align: left;
    margin-left: 10%;
    border-bottom: none;
    position: relative;
    padding-left: 50%;
    margin-bottom: 5px;
    color: var(--textColor);
    background-color: aliceblue;
    color: #000;
    padding-top: 2px;
    border-radius: 5px;
    transform: translateX(-20px);
  }
  td:last-child {
    margin-bottom: 10px;
  }
  td:first-child {
    margin-top: 10px;
  }
  table td::before {
    content: attr(data-label);
    position: absolute;
    padding-left: 5px;
    left: 0;
    width: 50%;
    padding-right: 10px; 
    font-weight: 900;
    text-align: left;
    color: var(--inputColor1);
  }
  td:nth-child(9),td:nth-child(10) {
    background-color: var(--inputColor2);
    padding: 5px 0;
    height: 30px;
    margin-top: 8px;
    border-radius: var(--borderRadius);
    cursor: pointer;
  }
  td:nth-child(9) {
    margin-top: 10px;
  }
  td:nth-child(9)::before,td:nth-child(10)::before{
    color: #eee;
    text-align: center;
    width: 100%;
  }
  .btn {
    display: none;
  }
}

@media screen and (min-width:1200px) {
  .pageContainer {
    padding: 10px 100px;
  }
}
@media screen and (min-width:992px) and (max-width:1200px)  {
  .pageContainer {
    padding: 10px 80px;
  }
}
@media screen and (max-width:992px) and (min-width:768px)  {
  .pageContainer {
    padding: 10px 60px;
  }
}
@media screen and (max-width:768px) {
  .pageContainer {
    padding: 10px 10px;
  }
  img {
    width: 150px;
    margin-left: 0;
    margin-top: -5px;
  }
  .head span {
    margin-right: 0;
    margin-top: 5px;
  }
  .description h1{
    font-size: 23px;
  }
  .description p{
    font-size: 14px;
  }
  input {
    transition: all 0.3s ease;
  }
  input:focus {
    transform: scale(1);
  }
}
@media screen and (max-width:500px) {
  .price input.discount,
  .price input:nth-child(4)
  {
    width: 31%;
  }
  .price input:nth-child(1), 
  .price input:nth-child(2)
  {
    width: 49%;
  }
  .br {
    display: block;
  }
}
@media screen and (max-width:440px) {
  .description h1{
    font-size: 17px;
  }
  .description p{
    font-size: 13px;
  }
  .search button {
    font-size: 13px;
  }
}
@media screen and (max-width:325px) {
  .search button {
    font-size: 11px;
  }
}
